{% load static %}
{% load tailwind_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clubs | UIU-matamesh</title>
    <style>
        .btn {
            border: 1px solid rgb(233, 233, 233);
            background-color: inherit;
            box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
            padding: 14px 28px;
            font-size: 10px;
            cursor: pointer;
            display: inline-block;
            margin-top: 1%;
            margin-left: 1%;
            margin-bottom: 2%;
        }
        .default {
        color: rgb(0, 0, 0);
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 25px;
        }
        .default:hover {
        background:  #ff9800;
        color: white;
        }
        form input[type="submit"]:hover{
            background-color:  rgb(223, 222, 222) !important; 
            border: 2px solid #ff9800;
            color: black !important;
        }
    </style>

    {% tailwind_css %}
</head>
<body class="w-screen h-screen">
    {% include 'message.html' %}

    <div id="club" class="absolute w-full h-full flex flex-col items-center" style="display: none; background-color: rgba(0, 0, 0, 0.233); ">
        <div class="bg-white rounded-xl px-20 flex flex-col items-center" style="width: 50%; height: max-content; padding: 20px; margin: auto; margin-top: 5%; border: 1px solid #ff9800; box-shadow: 0px 0px 51px -3px rgba(0,0,0,0.82);">
            <h3 class="text-3xl font-bold mt-5 mb-1">Create Your Club</h3>
            <h3>Give information of the club below</h3>

            <div class="w-full h-full mt-20">
                <form class="w-full h-full flex" method="POST" action="{% url 'addclub' user=enp %}">
                    {% csrf_token %}
                    <div class="w-1/2 h-full flex flex-col" >
                        <label for="cname">Club name</label>
                        <input type="text" class="rounded-xl" name="cname" id="cname" placeholder="Enter Club Name" required>
                        <label class="mt-4" for="ctype"> Choose type</label>
                        <select name="ctype" class="rounded-xl" id="ctype">
                            <option value="sports">Sports</option>
                            <option value="cultural">Cultural</option>
                            <option value="education">Education</option>
                            <option value="robotics">Robotics</option>
                            <option value="contest">Contest</option>

                        </select>
                        <label class="mt-4" for="purpose">Club purpose</label>
                        <textarea class="text-md rounded-xl" name="purpose" id="purpose" cols="10" rows="6" style="resize: none;" required></textarea>

                        <label class="mt-4" for="rules">Rules and Regulations</label>
                        <textarea class="text-md rounded-xl" name="rules" id="rules" cols="10" rows="6" style="resize: none;" required></textarea>
                    </div>
                    <div class="w-1/2 h-full flex flex-col" style="margin-left: 4%;">
                        <div class="w-full flex flex-col h-fit text-xl ">
                            <label for="" >Who are you?</label>
                            <div class="flex w-full items-center">
                                <input type="radio" onclick="ad()" name="admin" id="admin" value="Admin" checked>
                                <label for="admin" class="ml-1">Admin</label>
                                <input type="radio" onclick="notad()" class="ml-5" name="admin" id="nadmin" value="Not Admin">
                                <label for="admin" class="ml-1">Not admin</label>
                            </div>
                        </div>
                        <label for="name" class="mt-4">Admin name</label>
                        <input class="rounded-xl" type="text" name="adminname" id="name" placeholder="Admin Name" disabled>
                        <label for="id" class="mt-4">Admin email/Student ID</label>
                        <input class="rounded-xl" type="text" name="adminmail" id="id" placeholder="Admin email or Student ID" disabled>
                        <label for="accep" class="font-bold mt-4">Are you agree with us?</label>
                        <div class="w-fit h-fit flex mt-2">
                            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="24" height="24" viewBox="0 0 24 24">
                                <path d="M11,16.4l-4.7-4.7l1.4-1.4l3.3,3.3l8.4-8.4C17.5,3.3,14.9,2,12,2C6.5,2,2,6.5,2,12s4.5,10,10,10s10-4.5,10-10 c0-1.9-0.5-3.6-1.4-5.1L11,16.4z"></path>
                            </svg>
                            <h3 class="ml-2">The club is not for commercial purposes.</h3>
                        </div>
                        <div class="w-fit h-fit flex mt-2">
                            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="24" height="24" viewBox="0 0 24 24">
                                <path d="M11,16.4l-4.7-4.7l1.4-1.4l3.3,3.3l8.4-8.4C17.5,3.3,14.9,2,12,2C6.5,2,2,6.5,2,12s4.5,10,10,10s10-4.5,10-10 c0-1.9-0.5-3.6-1.4-5.1L11,16.4z"></path>
                            </svg>
                            <h3 class="ml-2">Try to keep maintain a good bonding among members</h3>
                        </div>
                        <div class="w-fit h-fit flex mt-2">
                            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="24" height="24" viewBox="0 0 24 24">
                                <path d="M11,16.4l-4.7-4.7l1.4-1.4l3.3,3.3l8.4-8.4C17.5,3.3,14.9,2,12,2C6.5,2,2,6.5,2,12s4.5,10,10,10s10-4.5,10-10 c0-1.9-0.5-3.6-1.4-5.1L11,16.4z"></path>
                            </svg>
                            <h3 class="ml-2">Any kind of vulgar content should not be allowed.</h3>
                        </div>
                        <div class="w-fit h-fit flex mt-2">
                            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="24" height="24" viewBox="0 0 24 24">
                                <path d="M11,16.4l-4.7-4.7l1.4-1.4l3.3,3.3l8.4-8.4C17.5,3.3,14.9,2,12,2C6.5,2,2,6.5,2,12s4.5,10,10,10s10-4.5,10-10 c0-1.9-0.5-3.6-1.4-5.1L11,16.4z"></path>
                            </svg>
                            <h3 class="ml-2">Check the members identity before approval.</h3>
                        </div>
                        <div class="w-fit h-fit flex mt-2 items-center">
                            <input type="checkbox" name="agree" id="" required>
                            <h3 class="ml-2">I am agree with the conditions.</h3>
                        </div>
                        <div class="w-full h-fit flex justify-center px-1 mt-8">
                            <input class="flex justify-center items-center cr_h" type="submit" name="sub" style="height: 50px; width: 400px; background-color: #ff9800; color: white; font-size: large; " value="Create Group">
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
    
    {% include 'nav.html' %}

    <div class="h-fit bg-gray-100 flex-col">
        <div class="flex px-20" style="margin-top: 20px; margin-bottom: 20px;">
            <button onclick="ppup()" class="btn default">Create Club</button>
        </div>
        <div class="flex flex-col" style="margin-left: 5%; ">
            <h3 class="text-3xl font-bold" style="color: rgb(77, 77, 77); font-size: 40px;">Clubs</h3>
            <h3 class="text-md" style="font-size: 30px;">Manage and access all of your clubs from here.</h3>
        </div>
        
        <div style="display: grid; grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); grid-gap: 5px; margin-left: 5%; margin-right: 5%; border-radius: 7px;">
            {% for c in club %}
            <div class="flex flex-col rounded-2xl bg-gray-300" style="height: 500px; justify-content: center; align-items: center;">
                <img src="{% static 'img/online.gif'%}" alt="" class="rounded-full bg-orange-300" style="width: 300px ; height: 300px; ">
                <div class="flex justify-center items-center flex-col">
                    <h3 class="text-4xl font-bold">{{c.clubname}}</h3>
                    <h3 class="text-2xl">{{c.purpose}}</h3>
                </div>
                <div style="margin-top: 10px;">
                    {% if c.adminid == user %}
                    <a id="{{c.clubname}}" href="{% url 'cdash' user=enp club=c.clubname %}" class="flex justify-center items-center text-2xl text-white" style="background-color: rgb(250, 135, 4); height: 50px; width: 200px; border-radius: 7px;">Enter</a>
                    {% else %}
                    <a id="{{c.clubname}}" href="{% url 'approval' user=enp club=c.clubname %}" class="bg-green-500 flex justify-center items-center text-2xl text-white rounded-2xl">Join</a>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    
    
    
    <script src="{% static 'js/app.js'%}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>

        var csrf = "{{ csrf_token }}" ;
        let idd = document.getElementById('club');
        let admin = document.getElementById('admin');
        let nadmin = document.getElementById('nadmin');
        let aid = document.getElementById('id') ;
        let aname = document.getElementById('name') ;
        let sortt = JSON.parse('{{sort|escapejs}}') ;
        console.log(sortt)
        for (var i = 0; i<sortt.length; i++) {
            if (sortt[i].studentss_id !=sortt[i].admin && sortt[i].status != 'Joined' ) {

                document.getElementById(sortt[i].clubid_id).innerHTML = sortt[i].status ;
                document.getElementById(sortt[i].clubid_id).style.backgroundColor = "orange" ;
            }
            else if(sortt[i].studentss_id ==sortt[i].admin || sortt[i].status == "Joined" ) {
                var url = "{% url 'cdash' user=enp club='__clubid__' %}".replace("__clubid__", sortt[i].clubid_id );
                document.getElementById(sortt[i].clubid_id).innerHTML = "Enter" ;
                document.getElementById(sortt[i].clubid_id).style.backgroundColor = "blue" ;
                document.getElementById(sortt[i].clubid_id).href = url ;
                document.getElementById(sortt[i].clubid_id).disabled = false ;
            }

        }
        function ad() {
            
            aid.disabled = true;
            aname.disabled = true;
        }
        function notad() {
            console.log('not admin') ;
            aid.disabled = false;
            aname.disabled = false;
        }

        function ppup() {
            idd.style.display = "block" ;
        }

        let llb = document.getElementById("nn");
        let __idd = "" ;
        function popmsgg(idd, fname, lname) {
            llb.innerHTML = fname + " " + lname;
            __idd = idd;
        }

        let msgbox = document.getElementById('msgg') ;

        function sendmsg() {
            
            var ccss = document.getElementById('sendbtn').getAttribute('data-crf');
            console.log(csrf) ;
            let __msg = msgbox.value ;
            msgbox.value = "" ;

            $.ajax({
                type: "POST",
                url: "{% url 'sendmsg' user=enp %}",
                data: {
                    csrfmiddlewaretoken: csrf,
                    tousr: __idd,
                    msg: __msg
                },
                success: function() {
                    console.log("Sned successfully") ;
                }
            });
            
        }

        function popupmsg() {
            document.getElementById("pops").style.display = "flex" ;
            setInterval(function() {
                $.ajax({
                    type: "GET",
                    url: "{% url 'getmsg' user=enp %}",
                    dataType:'html',
                    data:{
                        to_id: __idd,
                    },
                    success: function(res) {
                        $('#showmsg').html(res) ;
                    },
                });
            }, 1000);
        }


        var create_pop = document.getElementById("club")
        create_pop.addEventListener("click", function (event) {
            if (event.target === create_pop) {
                create_pop.style.display = "none";
            }
        });

    </script>
</body>
</html>