{% load static %}
{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Search</title>
    {% tailwind_css %}
</head>
<body class="w-screen h-screen overflow-hidden flex flex-col">
    {% include 'message.html' %}
    {% include 'nav.html' %}
    
    <main id="job-main">
        <div class="left">
            
        </div>

        <div class="middle">
            
        </div>

        <div class="right">
            
        </div>
    </main>


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'js/app.js'%}"></script>
    <script>
        var csrf = "{{ csrf_token }}" ;
    </script>
    
    <script>
        
        let llb = document.getElementById("nn");
        let __idd = "" ;
        function popmsgg(idd, fname, lname) {
            llb.innerHTML = fname + " " + lname;
            __idd = idd;
        }

        let msgbox = document.getElementById('msgg') ;
        
        function sendmsg() {
            
            var ccss = document.getElementById('sendbtn').getAttribute('data-crf');
            console.log(csrf) ;
            let __msg = msgbox.value ;
            msgbox.value = "" ;

            $.ajax({
                type: "POST",
                url: "{% url 'sendmsg' user=enp %}",
                data: {
                    csrfmiddlewaretoken: csrf,
                    tousr: __idd,
                    msg: __msg
                },
                success: function() {
                    console.log("Sned successfully") ;
                }
            });
            
        }

        function popupmsg() {
            document.getElementById("pops").style.display = "flex" ;
            setInterval(function() {
            $.ajax({
                type: "GET",
                url: "{% url 'getmsg' user=enp %}",
                dataType:'html',
                data:{
                    to_id: __idd,
                },
                success: function(res) {
                    $('#showmsg').html(res) ;
                },
            });
            }, 1000);
        }
    </script>
</body>
</html>