{% load static %}
{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notice</title>

    {% tailwind_css %}
</head>
<body class="w-screen h-screen overflow-hidden flex flex-col">

    <!-- start message pop -->
    {% include 'message.html' %}
    <!-- end message pop -->

    <!-- navbar  -->
    {% include 'nav.html' %}
    <!-- navbar end  -->
    
    <!-- notice body -->
    <div id="loading-indicator">
        <div class="lds-hourglass"></div>
    </div>

    <div style="overflow: auto;">
        <section class="card-container" id="notice-body">
            <!-- content append here -->
            {% for notice in notices %}
                <div class="card">
                    <img src="{{ notice.image }}" alt="image" loading="lazy">
                    <div class="date">
                        <p>{{ notice.month}}</p>
                        <p>{{ notice.day}}</p>
                    </div>
                    <p class="details-header" id="details-header_{{ notice.id }}" data-detail-id="details_{{ notice.id }}" data-url="{{ notice.url }}">{{ notice.title }}</p>
                    <p id="details_{{ notice.id }}" style="display:none">{{ notice.details|safe }}</p>
                </div>
            {% endfor %}
        </section>
    </div>

    <!-- details container -->
    <div id = "details_cont" class="w-full h-full flex justify-center items-center" 
                                    style="z-index: 999999; position: absolute;display: none;">
        <div >
            <div>
                <!-- content append here -->
            </div>
            <a href="#">Read More</a>
        </div>
    </div>

    <script src="{% static 'js/app.js'%}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    
    <script>
        var csrf = "{{ csrf_token }}" ;
    </script>
    <script>
        var imgUrls = "{{ images | safe}}";
        var i = 0;
        var details_data = []
        var flag = 0; // 0: not loaded, 1: loaded

        var cleanedString = imgUrls.slice(2, -2);
        var imgUrls = cleanedString.split("', '");
        imgUrls = imgUrls.map(url => url.trim().replace(/^['"]+|['"]+$/g, ''));

        // console.log(imgUrls)

        let llb = document.getElementById("nn");
        let __idd = "" ;
        function popmsgg(idd, fname, lname) {
            llb.innerHTML = fname + " " + lname;
            __idd = idd;
        }

        setTimeout(()=>{
            document.getElementById("loading-indicator").style.display = "none";
        }, 2000);

        $('#notice-body').on('click', '.details-header', function() {
            var detailId = $(this).data('detail-id'); // Get the id of the detail element
            var details = $('#' + detailId).text(); 
            var details_list = details.split("###")
            // console.log(details_list)
            var url = $(this).data('url'); 

            var detailsDiv = $('#details_cont').find('div > div');
            detailsDiv.empty();

            details_list.forEach(function(detail) {
                detailsDiv.append(`<p>${detail}</p>`);
            });

            $('#details_cont').find('a').attr('href', url).attr('target', '_blank');
            $('#details_cont').show();
        });

        $('#details_cont').on('click', function(event) {
            if (event.target === this) { 
                $(this).hide();
            }
        });
        
        
        let msgbox = document.getElementById('msgg') ;
        
        function sendmsg() {
            
            var ccss = document.getElementById('sendbtn').getAttribute('data-crf');
            console.log(csrf) ;
            let __msg = msgbox.value ;
            msgbox.value = "" ;

            $.ajax({
                type: "POST",
                url: "{% url 'sendmsg' user=enp %}",
                data: {
                    csrfmiddlewaretoken: csrf,
                    tousr: __idd,
                    msg: __msg
                },
                success: function() {
                    console.log("Sned successfully") ;
                }
            });
            
        }

        function popupmsg() {
            document.getElementById("pops").style.display = "flex" ;
            setInterval(function() {
            $.ajax({
                type: "GET",
                url: "{% url 'getmsg' user=enp %}",
                dataType:'html',
                data:{
                    to_id: __idd,
                },
                success: function(res) {
                    $('#showmsg').html(res) ;
                },
            });
            }, 1000);
        }


        // function pageLoading(){
        //     setTimeout(()=>{
        //         document.getElementById("loading-indicator").style.display = "none";
        //     }, 7000)
        // }


    </script>
</body>
</html>