{% load static %}
{% load tailwind_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile | UIU-matamesh</title>
    {% tailwind_css %}
</head>
<body class="w-screen h-screen overflow-hidden flex flex-col">
    <!-- start message pop -->
    {% include 'message.html' %}
    <!-- end message pop -->

    {% include 'nav.html' %}

    <div class="w-full h-full flex px-5" style="gap: 1rem;">
        <div class="w-1/5 bg-orange-300 flex flex-col rounded-2xl" style="height: 50vh; padding: 25px; gap: 10px;">
            <div class="flex justify-center items-center bg-black" style="height: 15vh; width: 15vh;  background-image: url('{{user.profpic.url}}'); background-size: cover; background-position: center; background-repeat: no-repeat; border-radius: 20px;">
    
                <label for="image" class="img font-bold" style="background-color: #0000002d; width: 100%; height: 100%; padding: 10px; border-radius: 20px;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-camera-fill chng-profile" style="color:#ffffff; cursor:pointer" viewBox="0 0 16 16" title="Upload profile picture">
                        <path d="M10.5 8.5a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
                        <path d="M2 4a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2h-1.172a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 9.172 2H6.828a2 2 0 0 0-1.414.586l-.828.828A2 2 0 0 1 3.172 4H2zm.5 2a.5.5 0 1 1 0-1 .5.5 0 0 1 0 1zm9 2.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0z"/>
                    </svg>
                </label>
                <input type="file" name="img" id="image" style="display: none;">
    
            </div>
            <div class="w-full h-fit flex flex-col font-bold">
                <p class="text-2xl">{{user.firstName|add:" "|add:user.lastName}}</p>
                <p class="text-md">{{user.stu_id}}</p>
            </div>
            <div class="w-full h-fit flex flex-col ">
                <p>ID: {{user.batch}}</p>
                <p>Department: {{user.dept}}</p>
                <p>Phone number: {{user.phone_number | default:"Not provided"}}</p>
            </div>
        </div>

        <div class="w-4/5 h-full flex flex-col">
            <p class="text-2xl font-bold bg-gray-100" style="padding: 10px; text-align: center; font-size: 2rem;">Your Posts</p>

            <div class="overflow-y-auto w-full pr-10" style="height: 82vh;">
                {% for posts in post %}
                <div class="w-full h-fit flex flex-col rounded-2xl bg-orange-100 px-8 mt-6 mb-5">
                    <div class="w-full h-20 flex items-center">
                        <img src="{{user.profpic.url | safe}}" alt="" class="w-12 h-12 rounded-full object-cover">
                        <div class="w-2/3 h-fit flex flex-col">
                            <h3 class="ml-2 text-md font-bold">{{posts.student.firstName|add:" "|add:posts.student.lastName}}</h3>
                            <div class="ml-2 w-full h-fit flex items-center">
                                <h3 class="">{{posts.student.stu_id}}</h3>
                                <div class="ml-2 w-20 h-fit bg-orange-400 rounded-2xl flex justify-center text-white">

                                    <p class="font-bold">{{posts.category}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="w-full h-fit mt-2 mb-6">
                        <p>{{posts.text}}</p>
                    </div>
                    
                    <div class="w-full flex flex-col" style="height: 15vh; margin: 0 0 2vh 0;">
                        {% for like in likes %}
                            {% if like.post == posts %}
                                <div class="w-1/2 flex mt-2 bg-orange-300 rounded-2xl">
                                    {% if like.user.profpic.url != "" %}
                                        <img src="{{like.user.profpic.url}}" alt="" class="rounded-xl" style="width: 5vh; height: 5vh;">
                                    {% else %}
                                    <img src="" alt="" class="bg-black rounded-xl" style="width: 5vh; height: 5vh;">
                                    {% endif %}

                                    <div class="ml-2 w-fit flex flex-col">
                                        <p class="font-bold">{{like.user.firstName|add:" "|add:like.user.lastName}}</p>

                                        <p>{{like.comment}}</p>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <script src="{% static 'js/app.js'%}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    
    <script>
        var csrf = "{{ csrf_token }}" ;
    </script>

    <script>
        let llb = document.getElementById("nn");
        let __idd = "" ;
        function popmsgg(idd, fname, lname) {
            llb.innerHTML = fname + " " + lname;
            __idd = idd;
        }

        let msgbox = document.getElementById('msgg') ;
        
        function sendmsg() {
            
            var ccss = document.getElementById('sendbtn').getAttribute('data-crf');
            console.log(csrf) ;
            let __msg = msgbox.value ;
            msgbox.value = "" ;

            $.ajax({
                type: "POST",
                url: "{% url 'sendmsg' user=enp %}",
                data: {
                    csrfmiddlewaretoken: csrf,
                    tousr: __idd,
                    msg: __msg
                },
                success: function() {
                    console.log("Sned successfully") ;
                }
            });
            
        }

        function popupmsg() {
            document.getElementById("pops").style.display = "flex" ;
            setInterval(function() {
            $.ajax({
                type: "GET",
                url: "{% url 'getmsg' user=enp %}",
                dataType:'html',
                data:{
                    to_id: __idd,
                },
                success: function(res) {
                    $('#showmsg').html(res) ;
                },
            });
            }, 1000);
        }
    </script>
</body>
</html>